<div class="header__logo"></div>
<div class="header__nav">
    <a href="#" class="header__nav-item">Главное</a>
    <a href="#" class="header__nav-item">Направления деятельности</a>
    <a href="https://wellfinee.github.io/tz-news/index.html" class="header__nav-item">Новости</a>
    <a href="#" class="header__nav-item">Контакты</a>
    <a href="https://wellfinee.github.io/tz-news/pages/gov.html" class="header__nav-item">Оставить обращение</a>
</div>
<div class="header__rightmenu">
    <div class="header__search">
        <input type="text" class="header__search-input" placeholder="Поиск...">
        <i class="fa-solid fa-magnifying-glass header__search-icon"></i>
    </div>
    <button class="header__menu">
        <i class="fa-solid fa-bars menu__icon"></i>
    </button>
</div>
