.footer {
    display: flex;
    flex-direction: row;
    justify-content: end;
    flex-wrap: wrap;
    width: 70vw;
    padding: 2vw 15vw;
    background-color: #FFC600;
    align-items: start;
}

.footer__socialmedia-block {
    width: 32vw;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.social-block__description {
    width: 32vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.description__logo {
    width: 8vw;
    height: 8vw;
    border-radius: 4vw;
    background-color: white;
}

.description__text {
    display: flex;
    width: 24vw;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-left: 1vw;
}

.description__text>p {
    text-align: left;
}

.description__map {
    margin-top: 1vw;
    color: black;
    text-decoration: none;
}

.description__title {
    font-size: 24px;
    font-weight: 600;
}

.description__description {
    color: #363636
}

.social-block__contact {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1vw;
}

.contact__buttons {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 0 1vw;

}

.contact__button {
    background-color: black;
    border-radius: 8px;
    padding: 10px;
    color: white;
    font-size: 20px;
    border: none;
    margin: 5px;
}

.contact__meteo {
    display: flex;
    width: 32vw;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    margin-left: 1vw;
}

.meteo__special-people {
    flex-direction: row;
    margin-top: 0.5vw !important;
    display: block;
    width: 32vw;
}

.contact__meteo>a {
    margin-top: -0.5vw;
}

.meteo__special-people>i {
    font-size: 1.4rem;
    margin-right: 0.4vw;
}

.footer__links-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 17vw;
    height: 100%;
    margin: 1vw 1vw;
}

.links-container__link {
    color: black;
    text-decoration: none;
    font-size: 1rem;
    margin: 0;
    margin-bottom: 1.5vw;
}

.footer__links-container:nth-of-type(2) {
    width: 19vw;
}

.footer__links-container:nth-of-type(3) {
    width: 15vw;
}

.polit-c {
    align-items: end;
    margin-top: -1vw;
}

.footer__links-container:nth-of-type(2)>a {
    margin-bottom: 1vw;
}

a:hover {
    color: #535353
}

@media screen and (max-width: 1300px) {
    .footer {
        width: 90vw;
        padding: 3vw 5vw;
    }

    .footer__socialmedia-block {
        width: 40vw;
    }

    .footer__links-container:nth-of-type(2) {
        width: 25vw;
    }

    .footer__links-container:nth-of-type(3) {
        width: 21vw;
    }

    .social-block__contact {
        justify-content: start;
    }
}

@media screen and (max-width: 640px) {
    .footer {
        flex-direction: column;
        position: relative;
        padding: 8vw 5vw;
    }

    .footer__socialmedia-block,
    .description__text,
    .footer__links-container:nth-of-type(2),
    .footer__links-container:nth-of-type(3) {
        width: 100%;
    }

    .description__text {
        width: 33vw;
    }

    .description__map {
        position: absolute;
        top: 64px;
        right: 38px;
    }

    .social-block__description {
        width: 80vw;
        justify-content: start;
    }

    .contact__meteo>a {
        display: none;
    }

    .meteo__special-people {
        display: flex !important;
        width: 60vw;
        align-items: center;
    }

    .contact__buttons {
        order: 2;
    }

    .social-block__contact {
        justify-content: space-between;
        position: absolute;
        width: 90vw;
        bottom: 81px;
    }

    .polit-c {
        width: 90vw;
        justify-content: space-between;
        flex-direction: row;
        font-size: 0.6rem;
        margin-top: 80px;
    }

    .contact__button {
        margin: 0 5px;
    }

    .footer__links-container {
        margin-top: 0;
        margin-bottom: 0;
    }

    .footer__socialmedia-block {
        margin-bottom: 40px;
    }
    .description__logo{
        width: 100px;
        height: 100px;
        border-radius:50px
    }
}

@media  screen and (max-width: 390px) {
    .description__map{
        position: relative;
        top: 16px;
        left: -62px;
        font-size: 0.8rem;
    }
    .description__description{
        width: 70vw;
        font-size: 0.9rem;
    }
    .description__logo{
        width: 60px;
        height: 60px;
        border-radius:30px
    }
    .links-container__link{
        font-size: 0.9rem;
    }
    .footer__socialmedia-block {
        margin-bottom: 30px;
    }
    .polit-c{
        flex-direction: column;
        align-items: start;
    }
    .contact__button{
        font-size: 0.8rem;
        padding: 8px;
    }
    .contact__meteo{
        font-size: 0.7rem;
        width: 90vw;
    }

    .meteo__special-people > i{
        font-size: 1rem;
        margin: -1px 3px 0 0;
    }
}