<div class="footer__socialmedia-block">
    <div class="social-block__description">
        <div class="description__logo"></div>
        <div class="description__text">
            <p class="description__title">Название</p>
            <p class="description__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, ipsa
                pariatur officia maiores assumenda voluptatum incidunt repellendus ratione </p>
            <a class="description__map" href="#">Карта сайта</a>
        </div>
    </div>
    <div class="social-block__contact">
        <div class="contact__buttons">
            <button class="contact__button"><i class="fa-brands fa-vk"></i></button>
            <button class="contact__button"><i class="fa-brands fa-telegram"></i></button>
        </div>
        <div class="contact__meteo">
            <a href="#"><img src="https://wellfinee.github.io/tz-news/assets/img/gis.png" alt=""></a>
            <a class="meteo__special-people"><i class="fa-solid fa-eye"></i> Версия для слабовидящих</a>
        </div>
    </div>
</div>
<div class="footer__links-container">
    <a href="#" class="links-container__link">Президент России</a>
    <a href="#" class="links-container__link">Правительство России</a>
    <a href="#" class="links-container__link">Очень очень очень очень очень длинный текст</a>
    <a href="#" class="links-container__link">Очень очень очень очень очень длинный текст</a>
</div>
<div class="footer__links-container">
    <a href="#" class="links-container__link">Очень очень очень очень очень длинный текст</a>
    <a href="#" class="links-container__link">Очень очень очень очень очень длинный текст</a>
    <a href="#" class="links-container__link">Единый портал государственных услуг</a>
</div>
<div class="polit-c">
    <p class="polit-c__header">Политика обработки персональных данных</p>
    <p class="polit-c__rights">© Все права защищены</p>
</div>
