<div class="modal__content">
    <span class="close">&times;</span>
    <img id="modalImage" class="modal__img" src="" alt="Article Image">
    <h2 id="modalTitle" class="modal__title"></h2>
    <p id="modalContent"></p>

    <form id="commentForm" class="comment__form">
        <h3>Оставить комментарий</h3>


        <input type="text" id="name" name="name" placeholder="Имя" required>

        <input type="email" id="email" name="email"  placeholder="E-mail" required>

        <textarea id="message" name="message" rows="4" placeholder="коментарии" required></textarea>


        <label for="file-upload" class="upload-button">
                Прикрепить файлы
                <i class="fa-solid fa-paperclip"></i>
            </label>
            <input type="file" id="file-upload" multiple accept="image/*" style="display: none;">

        <div class="checkbox__container">
            <input type="checkbox" id="agree" required>
            <label for="agree">Согласен с правилами публикации</label>
        </div>

        <button type="submit">Отправить</button>
    </form>

    <p id="successMessage" class="success-message" style="display: none;">Комментарий успешно отправлен!</p>
</div>
